span.block {
  display: block;
}

.dropdown-toggle::after {
  vertical-align: 0.55em;
}

a.dropdown-toggle > span {
  display: inline-block;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 22px;
  margin-bottom: 11px;
}

.navbar {
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  .navbar-right {
    float: right!important;
    margin-right: -15px;
  }
}